<!-- Injetando o meu componente apontado pelo arquivo nav-bar.component. selector: 'app-nav-bar', -->
<!-- E necessario declara o componente no modulo tbem, senão gera erro no javascript -->
<app-nav-bar></app-nav-bar>

  <div class="content-fluid">

    <app-full-banner></app-full-banner>

    <app-list-titles title="Adicionado recentemente"></app-list-titles>
    <app-list-titles title="Em alta"></app-list-titles>
    <app-list-titles title="Continuar assistindo como DJALMA SINDEAUX"></app-list-titles>
    
  </div>

  <app-footer></app-footer>

